
.pro-head, .pro-price  {
    font-size: 15px;
}

.img-target {
    width: 100%;
    height: 60%;
}

.more-link {
    color:blue;
    cursor: pointer;
}

.graph {
    max-width: 900px;
    max-height: 400px;
}
